@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.container {
  width: 70%;
  height: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 60px;
  gap: 5%;
  box-shadow: 0 0 30px rgba(34, 39, 47, 0.1);
}

.topPanel {
  display: flex;
  align-items: center;
  justify-content: start;
}

.tags {
  width: 50%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tag {
  padding: 3px 10px;
  background-color: rgba(253, 177, 0, 0.2);
  color: #f29e1f;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 12px "Montserrat";
  border-radius: 5px;
}

.image {
  width: 35%;
  height: 100%;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.fields {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

@mixin fieldSize {
  width: 100%;
  height: 14%;
}

.doublefield {
  @include fieldSize();
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.title {
  font: normal 14px "Montserrat";
  color: #4a525a;
  text-align: left;
  margin: 0;
}

.smallfield {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 60%;
}

.smallfielddata {
  display: flex;
  flex-direction: column;
}

.dataname {
  font: normal 12px "Montserrat";
  color: rgba(37, 41, 45, 0.5);
  margin: 0;
  margin-bottom: 5px;
}

.icon {
  width: 45px;
  height: 45px;
}

.like {
  height: 15%;
  width: 15%;
  top: 10px;
  right: 70px;
  position: absolute;
}

.favourite {
  height: 15%;
  width: 15%;
  top: 10px;
  right: 190px;
  position: absolute;
}
