@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@mixin title {
  color: #25292d;
  font: bold 20px "Montserrat";
  text-align: start;
  margin: 10px 0;
}

@mixin doubleElts {
  display: flex;
  gap: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title {
  @include title();
}

.doubleElts {
  @include doubleElts();
}

.fieldWithHelp {
  width: 115%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.helpText {
  font: normal 10px "Montserrat";
  color: rgba($color: #25292d, $alpha: 0.3);
}

.link {
  font: bold 12px/24px "Montserrat";
  color: #fdb100;
  border-bottom: 1px dashed #fdb100;
  cursor: pointer;
}

.link:hover {
  color: #ffca4e;
  border-bottom-style: solid;
}
