@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.container {
  width: 80%;
  height: 40px;
  background-color: #ff8888;
  border-radius: 10px;
  border: 3px solid #ff3f3f;
  display: flex;
  justify-content: start;
  align-items: center;
}

.text {
  font: normal 12px "Montserrat";
  color: red;
  margin: 0;
  margin-left: 20px;
}
