@import "../RegisterMenu/RegisterMenu.module.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title {
  @include title();
}

.btns {
  @include doubleElts();
}

.link {
  font: bold 12px/24px "Montserrat";
  color: #fdb100;
  border-bottom: 1px dashed #fdb100;
  cursor: pointer;
}

.link:hover {
  color: #ffca4e;
  border-bottom-style: solid;
}
