@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.title {
  font: bold 14px "Montserrat";
  color: #fdb100;
  margin: 0;
}

.list {
  width: 100%;
  padding: 0;
}
