.container {
  left: 0;
  top: 100px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 11vh;
}

.title {
  font: bold 36px "Montserrat";
  color: #25292d;
  margin: 0;
}

.btn {
  display: flex;
  gap: 5%;
  width: 20%;
}

.doubleBtn {
  width: 35%;
}

.topPanel {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.anotherInfo {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.ingredients {
  width: 30%;
}

.steps {
  width: 65%;
}
