@import "../TextInput/TextInput.module.scss";

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  height: 100%;
  background-color: white;
  @include border();
  @include text();
  @include padding();
}

.input:focus {
  @include borderInFocus();
}

.help {
  @include help();
}

.input:focus + .help,
.input:not(:placeholder-shown) + .help {
  @include helpSelected();
}

.hide {
  position: absolute;
  top: 11px;
  right: 12px;
  width: 5%;
  height: 18px;
  cursor: pointer;
}
