@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@mixin border {
  border: 2px solid rgba(145, 150, 161, 0.4);
  border-radius: 10px;
}

@mixin borderInFocus {
  border: 2px solid rgba(145, 150, 161, 1);
  outline: none;
}

@mixin textColor {
  color: rgba(37, 41, 45, 0.5);
}

@mixin text {
  @include textColor();
  font: normal 12px "Montserrat";
}

@mixin padding {
  box-sizing: border-box;
  padding: 13px 20px 7px 20px;
}

@mixin help {
  top: 11px;
  left: 21px;
  position: absolute;
  cursor: text;
  @include text();
}

@mixin helpSelected {
  font-size: 9px;
  transform: translateY(-8px);
  transition: 0.5s;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  height: 100%;
  background-color: white;
  @include border();
  @include text();
  @include padding();
}

.input:focus {
  @include borderInFocus();
}

.help {
  @include help();
}

.input:focus + .help,
.input:not(:placeholder-shown) + .help {
  @include helpSelected();
}
