@import "../RegisterMenu/RegisterMenu.module.scss";

.title {
  @include title;
}

.text {
  font: normal 14px "Montserrat";
  color: #4a525a;
  text-align: start;
}

.btns {
  margin-top: 8%;
  @include doubleElts();
}
