@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.container {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 80vh;
}

.info {
  display: flex;
  width: 90%;
  height: 100%;
  padding: 20px 0;
  border-radius: 20px;
}

.texts {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fdb100;
  font: bold 48px "Montserrat";
}

.helloText {
  text-align: left;
  width: 70%;
  color: #25292d;
  font: bold 20px "Montserrat";
}

.imageBlock {
  position: relative;
  width: 40%;
}

.image {
  width: 100%;
  height: 100%;
}

.imageGradient {
  top: 0;
  left: 0;
  position: absolute;
  width: 70%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
